.DS_Store
*.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata
project.xcworkspace
Pods
IDEWorkspaceChecks.plist
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
